* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #191919;
    color: #000;
    isolation: isolate;
    overflow-x: hidden;
}

body {
    height: 200vh;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 1000;
}

.webgl {
    position: absolute;
    inset: 0;
    outline: none;
    z-index: 10;
}

.title {
    font-family: Staatliches, sans-serif;
    color: #f3e3cc;
    text-align: center;
    opacity: 0.04;
}

.center {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 20rem;
    line-height: 0.8;
}

h3 {
    font-size: 12rem;
    line-height: 0.8;
}